*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Cairo', sans-serif;
}

.container{
    /* background: red; */
    width: 1000px;
    margin: auto;
}
body{
    background-color:rgb(0, 27, 89);
    width: 100%;
}

.start-header{
    /* width: 1079px;
    height: 550px; */
}

.start-header .header-main{
    margin-left: 900px;
}

.nav-bar{
    background-color: #ffffff;
    position: fixed;
    padding: 9px;
    z-index: 1;
    /* margin-top: 0px; */
    margin-left: -140px;
    margin-right: 90px;
    border-radius: 10px;
    width: 200%;
    height: 80px;
}



.nav-bar .logo img{
    max-width: 940px;
    height: 44px;
    margin-left: 990px;
    margin-top: 12px;
}




.nav-bar .nav-header{
    margin-top: -65px;
    margin-left: 120px;
    /* padding: 0px 40px; */
}

.start-header .nav-header ul{
    margin-top: 22px;
    margin-left:222px ;
}

.nav-bar .nav-header ul li{
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
}

.nav-bar .nav-header ul li a{
    text-decoration: none;
    color: #000000;
}
.nav-bar .nav-header ul li a:hover{
    color: #ff6d00;
}
.nav-bar .nav-header ul li .qq{
    color: #ff6d00;
}

.nav-bar .en{
    display: flex;
    align-items: center;
}

.nav-bar .en  img{
    margin-left: 270px;
    margin-top: -43px;
}

.nav-bar .en button{
    margin-top: -40px;
    margin-left: 12px;
    border-radius: 30px;
    background: #ff6d00;
    border: none;
    padding: 5px;
}

.nav-bar .en button a{
    text-decoration: none;
    color: #ffffff;
}

.nav-bar .en button:hover{
    background: #0d77bc;
}

.img-main img{
    max-width: 475px;
    margin-top: 113px;
}



.text h1{
    margin-left: 650px;
    padding-right: 12px;
    margin-top: -350px;
    color: #fcf5f5;
    font-size: 27px;
    font-weight: 800;
}

.text p{
    margin-left: 595px;
    padding-right: 22px;
    line-height: 32px;
    /* margin-top: -350px; */
    color: #ffffff;
}

.low-img{
    /* position:static; */
}

.low-img img{
    /* max-width: 1079.80px; */
    width: 103.80%;
    height:800px;
    margin-left: -42px;
    margin-top: 170px;
}

.hktmat img{
    /* position: relative; */
    /* max-width:1090px; */
    width: 103.40%;
    margin-top: -22px;
    height: 500px;
    margin-left: -39px;
}

.hktmat p{
    margin-top: -443px;
    margin-left: 113px;
    color: #ffffff;
}

.hktmat .text-22 h2{
    margin-left: 454px;
    margin-top: 12px;
    color: #ffffff;
    font-weight: 800;
}

/* تنسيق البطاقات */
.how-works__card {
    display: inline-block; 
    width: 20%;
    margin: 0 43px;
    vertical-align: top;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ddd; 
    border-radius: 5px;
    padding: 20px; 
}

/* تنسيق الصور */
.img-work img {
    width: 200px;
    height: 150px; 
    margin-bottom: 10px;
}

/* تنسيق العنوان */
.how-works__card h3 {
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: all 1s ease;
}

.how-works__card h3:hover{
    background: #ff6d00;
    color: #ffffff;
    border-radius: 13px;
    /* width: 210px; */
    /* height: 40px; */
}

.section-2{
    background-color: #0538a5;
    height: 500px;
}

.section-3{
    background: #ffffff;
    width: 1079px;
    height: 540px;
    margin-top: px;
}

.img-section-3 img{
    max-width: 350px;
    margin-left: 583px;
    margin-top: 60px;
}

.text-section-3  h3{
    margin-top: -310px;
    margin-left: 322px;
}

.text-section-3 p{
    margin-right: 622px;
    margin-left: 22px;
    padding-left: 22px;
    margin-top: 42px;
    font-size: 15px;
}

.link{
    margin-top: 22px;
}
.text-section-3 a{
    margin-left: 422px;
    background-color: #ff6d00;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
    border-radius: 18px;
    border: none;
}

.text-section-3 .link a:hover{
    background: #0d77bc;
    color: #ffffff;
}

.portfolio_sec {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin: 2px 20px;
    transition: all 1s ease;
}

.portfolio_sec .portfolio_item {
    width: 100px;
    margin: 5px;
}

.portfolio_sec .img-work-scs {
    text-align: center;
}

.portfolio_sec .img-work-scs img {
    width: 100px;
    height: auto;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 5px;
}


.section-4{
    background-color: #7725ce;
    height: 350px;
}

.section-4 h1{
    margin-left: 380px;
    color: #ffffff;
}


.butn button{
    margin: 20px 20px;
    padding: 5px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    transition: all 1s ease;
}

.butn button:hover{
    background-color: #ff6d00;
    color: #ffffff;
}

.section-5{
    background-color: #ffffff;
    height: 850px;
}


.img-section-5 img{
    max-width: 300px;
    background-color: #6a42d7;
    margin-left: 585px;
    margin-top: 93px;
}

.box{
    margin-top: -240px;
    width: 300px;
    margin-left: 144px;
}

.box .conet-box{
    background-color: #ffffff;
    width: 100px;
    /* width: 45px; */
    padding: 30px;
    margin-left: -32px;
    display: inline-block;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 5px ;
    transition: all 1s ease-in;
}

.box .conet-box-1{
    background-color: #ffffff;
    width: 100px;
    padding: 30px;
    margin-left: 152px;
    margin-top: 22px;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 5px ;
    transition: all 1s ease-in;
    /* margin: 10px; */
}

.box .conet-box-2{
    background-color: #ffffff;
    width: 100px;
    padding: 30px;
    margin-left: 152px;
    margin-top: -162px;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 5px ;
    transition: all 1s ease-in;
}
.conet-box-2:hover{
    background-color: #0d77bc;
    color: #ffffff;
}

.conet-box-1:hover{
    background-color: #0d77bc;
    color: #ffffff;
}

.conet-box:hover{
    background-color: #0d77bc;
    color: #ffffff;
}

.text-section-5{
    margin-left: 853px;
    margin-top: 44px;
}

.text-section-5 h6{
    color:#0d77bc;
    font-size: 13px;
}

.text-section-5 h2{
    font-size: 27px;
}


.card{
    margin: 55px;
    margin-left: 250px;
}

.card .card-1{
    margin: 10px;
    display: inline-block;
    width: 150px;
}

.card .card-2{
    margin: 10px;
    display: inline-block;
    width: 150px;
}

.card .card-3{
    margin: 10px;
    display: inline-block;
    width: 150px;
}

.card .card-1 p{
    margin-right: -32px;
    padding:  14px;
}

.card .card-2 p{
    margin-right: -22px;
    padding:  14px;
}


.card .card-3 p{
    margin-right: -22px;
    padding:  14px;
}

.card .card-3 h3{
    background-color: #ffffff;
    border-radius: 10px;
    padding:0px 10px;
    box-shadow: 1px 1px 1px 1px;
}


.card .card-2 h3{
    background-color: #ffffff;
    padding:0px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
}

.card .card-1 h3{
    background-color: #ffffff;
    padding:0px 10px;
    margin-left: 20px;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 10px;
}

.section-6 .pag{
    background-image: url("10.png");
    background-size: cover;
    height: 900px;
}

.how-works__rards{
    margin-left: 760px;
    margin-top: -313px;
}

.how-works__rards .how-works__rard-1{
    border: 2px solid #ff6d00;
    margin: 20px;
    width: 200px;
}

.how-works__rards .how-works__rard-2{
    border: 2px solid #ff6d00;
    margin: 20px;
    width: 200px;
}

.how-works__rards .how-works__rard-3{
    border: 2px solid #ff6d00;
    margin: 20px;
    width: 200px;
}

.how-works__rards .how-works__rard-1 a{
    text-decoration: none;
    margin-left: 52px;
    color: #ddd;
}

.how-works__rards .how-works__rard-2 a{
    text-decoration: none;
    margin-left: 42px;
    color: #ddd;
}

.how-works__rards .how-works__rard-3 a{
    text-decoration: none;
    margin-left: 42px;
    color: #ddd;
}

.how-works__rards .how-works__rard-1 p{
    color: #ddd;
    padding-right: 22px;
}


.how-works__rards .how-works__rard-2 p{
    color: #ddd;
    padding-right: 22px;
}


.how-works__rards .how-works__rard-3 p{
    color: #ddd;
    padding-right: 22px;
}

.pag img{
    max-width: 350px;
    margin-left: 343px;
}

.how-works__rards-55{
    margin-right: 333px;
    margin-top: -586px;
}

.how-works__rards-55 .how-works__rard-1{
    border: 2px solid #ff6d00;
    margin: 20px;
    width: 200px;
}


.how-works__rards-55 .how-works__rard-2{
    border: 2px solid #ff6d00;
    margin: 20px;
    width: 200px;
}


.how-works__rards-55 .how-works__rard-3{
    border: 2px solid #ff6d00;
    margin: 20px;
    width: 200px;
}

.how-works__rards-55 .how-works__rard-1 a{
    text-decoration: none;
    margin-left: 52px;
    color: #ddd;
}

.how-works__rards-55 .how-works__rard-2 a{
    text-decoration: none;
    margin-left: 42px;
    color: #ddd;
}

.how-works__rards-55 .how-works__rard-3 a{
    text-decoration: none;
    margin-left: 42px;
    color: #ddd;
}

.how-works__rards-55 .how-works__rard-1 p{
    color: #ddd;
    padding-right: 22px;
}


.how-works__rards-55 .how-works__rard-2 p{
    color: #ddd;
    padding-right: 22px;
}


.how-works__rards-55 .how-works__rard-3 p{
    color: #ddd;
    padding-right: 22px;
}


.section-7{
    background-color: #ffffff;
    height: 580px;
}

.img-seco7 img{
    max-width: 330px;
    margin-top: 133px;
    margin-left: 550px;
}

.form{
    background-color: #fcfdff;
    width: 290px;
    margin-left: 102px;
    height: 300px;
    margin-top: -233px;
    padding: 50px 30px;
    box-shadow: 1px 0px 1px 1px ;
}

.form input{
    margin: 25px;
    margin-top: -122px;
    margin-left: 50px;
    border: none;
    box-shadow: 1px 1px 1px 1px;
}

.form input{
    width: 200px;
}

.img-section-8{
    background-color: #ffffff;
    height: 350px;
}

.img-section-8 img{
    max-width: 1079px;
}

.img-section-8 h2{
    margin-left: 694px;
}

.section-9{
    background-color: #0d27bc;
    height: 430px;
}

.logo img{
    max-width: 230px;
    margin-left: 812px;
    margin-top: 52px;
}

.fot p{
    margin-left: 800px;
    color:#ffffff ;
    font-size: 13px;
    padding: 2px 40px 10px 0px;
}

.itm{
    margin-top: -220px;
    margin-left: 644px;
    font-size: 14px;
}

.itm h4{
    color: #ffffff;
    font-size: 18px;
    margin-left: -5px;
}


.itm ul li{
    list-style: none;
}

.itm a{
    text-decoration: none;
    color: #ffffff;
}

.itm a:hover{
    color: #ff6d00;
}

.itm-22{
    margin-top: -155px;
    margin-left: 353px;
    font-size: 15px;
}
.itm-22 h4{
    color: #ffffff;
    margin-left: 92px;
}

.itm-22 ul{
    padding-right: 410px;
    margin-right: 130px;
}

.itm-22 ul li{
    list-style: none;
}

.itm-22 a{
    text-decoration: none;
    color: #ffffff;
}

.itm-22 a:hover{
    color: #ff6d00;
}

.itm-33{
    margin-top: -260px;
    margin-left: 122px;
    color: #ffffff;
    font-size: 15px;
}

.itm-33 h4{
    margin-left: 22px;
}

.itm-33 .uu{
    margin-right: 800px;
}

.itm-33 ul li{
    list-style: none;
}

